@import './themes';

body {
	font-family: 'Satoshi', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	overflow-y: overlay;

	// background: radial-gradient(50% 50% at 50% 50%, #96000071 0%, rgba(178, 2, 7, 0) 100%);
	background-color: #000;
	background-image: './assets/pat.png';
	background-position: top right;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	min-width: 100vw;

	margin: 0;
}

h1,
h2,
h3 {
	font-family: 'Satoshi', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 900;

	margin: 0;
}

::-webkit-scrollbar {
	width: 26px;
}

::-webkit-scrollbar-thumb {
	border: 11px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 9999px;
	background-color: #aaaaaa;
}
