body {
	--app-color-black: black;
	--app-color-black-hsl: 0, 0%, 0%;

	--app-color-white: white;
	--app-color-white-hsl: 0, 0%, 100%;

	--app-color-red: hsl(0, 100%, 30%);
	--app-color-red-hsl: 0, 100%, 30%;
}
